<!DOCTYPE html>
<html>
<head>
    <title>Trekpoint</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
<body>
    <img src="images/background.jpg" id="bg" alt="">
    <div class="container text-center" id="landing-box">
        <h1>WELCOME TO TREKPOINT</h1>
        <a href="/login" class="btn btn-lg btn-primary" id="get-started">Get Started</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>