/* Background image */
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* Landing Page */
#landing-box {
    padding-top: 35vh;
}

#landing-box h1, #interests-header, #search-form-div h2 {
    font-family: 'Merriweather', serif; 
    color: white;
    text-shadow: 1px 1px #000;
}

#get-started {
    background-color: #1589FF;
    border-color: #1589FF;
    min-width: 200px;
    max-width: 200px;
}

/* Search Form*/
#search-form-div {
    width: 70%;
    margin: 30vh auto;
}

#trip-form-container {
    padding: 20px 10px 10px 10px;
    background-color: rgba(0, 102, 102, 0.55);
    border-radius: 3%;
}

/* Checkbox */
.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
}
.checkbox-inline.no_indent:last-child {
    margin-right: 0;
}

/* For Smaller Screens */

@media (max-width: 427px) {
    #search-form-div {
        width: 100%;
    }

    body {
      padding:0;
    }
}